<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuova Squadra</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

    <div class="navbar">
        <a href="/">Homepage</a>
        <a href="/logout">Logout</a>
        <a href="/squadre">Squadre</a>
		
    </div>

	<div class="login-box">
	    <h2>Inserisci Nuova Squadra</h2>
	    <form th:action="@{/squadra/{presidenteId}(presidenteId=${presidente.id})}" method="POST" enctype="multipart/form-data">
			
				<div>
	               <a th:if="${presidente == null}"
	                  th:href="@{'/admin/scegliPresidentePerUnaSquadra'}"
	                  >Seleziona un presidente</a>
	            </div>
			   
			   <!-- Se il presidente è selezionato -->
			              <div th:if="${presidente != null}">
			                  <div class="input-group">
			                      <label>Presidente selezionato:</label>
			                      <div class="presidente-info">
			                          <p th:text="${presidente.nome + ' ' + presidente.cognome}"></p>
			                          <p th:text="${#dates.format(presidente.dataDiNascita, 'dd-MM-yyyy')}"></p>
			                      </div>
			                  </div>
			              </div>

            <!-- Campo Nome Squadra -->
            <div class="input-group">
                <label for="nome">Nome Squadra:</label>
                <input id="nome" name="squadra.nome" type="text" placeholder="Nome Squadra" required th:field="${squadra.nome}" />
                <span th:if="${#fields.hasErrors('squadra.nome')}" th:errors="${squadra.nome}" class="error-message"></span>
            </div>

            <!-- Campo Anno di Fondazione -->
            <div class="input-group">
                <label for="annoFondazione">Anno di Fondazione:</label>
                <input id="annoFondazione" name="squadra.annoFondazione" type="number" placeholder="Anno di Fondazione" required th:field="${squadra.annoFondazione}" />
                <span th:if="${#fields.hasErrors('squadra.annoFondazione')}" th:errors="${squadra.annoFondazione}" class="error-message"></span>
            </div>

			
			<!-- Campo indirizzo della Sede -->
			 <div class="input-group">
			     <label for="indirizzoSede">Inidrizzo della sede:</label>
			     <input id="indirizzoSede" name="squadra.indirizzoSede" type="text" placeholder="Indirizzo" required th:field="${squadra.indirizzoSede}" />
			     <span th:if="${#fields.hasErrors('squadra.indirizzoSede')}" th:errors="${squadra.indirizzoSede}" class="error-message"></span>
			 </div>

            <!-- Campo Logo Squadra -->
            <div class="input-group">
                <label for="image">Logo Squadra:</label>
                <input id="image" name="image" type="file" accept="image/png, image/jpeg"/>
            </div>

            <!-- Pulsante di Aggiunta Squadra -->
            <button type="submit" class="btn">Aggiungi Squadra</button>
        </form>
    </div>

</body>
</html>

