<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Amministratore</title>
    <link rel="stylesheet" href="/css/admin/index.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Homepage</a>
        <a href="/login">Login</a>
		<a href="/logout">Logout</a>
        <a href="/squadre">Squadre</a>
    </div>
    <div class="admin-container">
        <h1>Benvenuto, Admin!</h1>
        <div class="admin-links">
            <div class="link-item">
                <a href="/squadre">Visualizza Squadre</a>
            </div>
            <div class="link-item">
                <a href="/admin/scegliPresidentePerUnaSquadra">Aggiungi Nuova Squadra</a>
            </div>
			<div class="link-item">
			    <a href="/admin/formNuovoGiocatore">Aggiungi un giocatore alla federazione</a>
			</div>
        </div>
    </div>
</body>
</html>
