<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco Presidenti - SiwSport</title>
    <link rel="stylesheet" href="/css/admin/presidenti.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        <a href="/squadre">Squadre</a>
		
		<div class="user-info">
				    <img th:src="@{${presidenteUser.urlImage}}" alt="Logo" class="logo">
					<span class="username" th:text="${credentials.username}"></span>
				</div>
    </div>
	
	<div class="container">
	        <h2>Elenco Presidenti</h2>
	        <div class="presidente-list" th:each="presidente : ${presidenti}">
	            <div class="presidente">
	                <div class="name"><span th:text="${presidente.nome} + ' ' + ${presidente.cognome}"></span></div>
	                <div class="birth-date"><span th:text="${#dates.format(presidente.dataDiNascita, 'dd/MM/yyyy')}"></span></div>
	                <div class="image">
	                    <img th:src="@{${presidente.urlImage}}" alt="Presidente">
	                </div>
	                <div class="add-btn">
	                    <a th:href="@{'/admin/scegliPresidentePerUnaSquadra/' + ${presidente.id}}">Aggiungi</a>
	                </div>
	            </div>
	        </div>
	</div>
	
</body>
</html>
