<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Presidente</title>
    <link rel="stylesheet" href="/css/user/index.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Homepage</a>
        <a href="/login">Login</a>
		<a href="/logout">Logout</a>
        <a href="/squadre">Squadre</a>
    </div>
    <div class="presidente-container">
        <h1>Benvenuto, Presidente!</h1>
        <div class="presidente-links">
            <div class="link-item" th:if="${squadra!=null}">
                <a th:href="@{'/user/squadra/'+${squadra.id}}">Gestisci squadra</a>
            </div>
        </div>
    </div>
</body>
</html>